<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="jumbotron color1bg">
        <h1>
          <%= title %><% if(title != 'SmartLockers'){ %> - une filiale
          Smartlockers<% } %>
        </h1>
        <div id="cgv"><%= entreprise.cgdv %></div>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
